*{
	padding: 0;
	margin: 0;
}

body{
	position: relative;
}

section.page{
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 800px;
}

#work{
	background:#fff;
}

#about{
	background:#272a2d;
}


nav{
	background:#eee;
	height: 100%;
}

.sidebar{
	width: 150px;
	height: 100%;
	position: fixed;
}

.nav-wrapper{
	position: absolute;
	top: 150px;
	left: 50px;
	width: 80px;
	height: 200px;
}

.nav-progress{
	width: 5px;
	position: absolute;
	left: 0;
	top: 0;
}

body.work .nav-progress {
	background:#000;
	height: 20%;
}


/*animations */

.ani{
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
}