*{
	padding: 0;
	margin: 0;
}

body, html{
	position: relative;
	height: 100%;
	font-family: 'Dosis', sans-serif;
}

li{
	list-style: none;
}


section.page{
	position: relative;
	min-height: 100%;
	width: 100%;
	z-index: 98;
	padding-bottom: 200px;
}

	section.page .header{
		height: 225px;
		padding-left: 200px;
	}

	section.page .header .logo{
		position: relative;
		top: 80px;
		left: 20px;
		display: block;
		width: 100px;
		height: 60px;
	}

	section.page .content{
		padding-left: 200px;
		padding-right: 200px;
		overflow: none;
	}

	section.page.last{
		padding-bottom: 0;
	}

#work{
	background:#fff;
}

#about .logo path{
	fill: #fff;
}

#about{
	background:#272a2d;
}

#hacks{
	background:#3f8fd8;
}

#hacks .logo path{
	fill: #fff;
}

nav{
	height: 100%;
	position: relative;
}

nav ul{
	height: 100%;
	margin-left: 20px;
}

nav ul li{
	height: 25%;
	position: relative;	
}

nav ul li span {
	width: 100%;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	display: block;
}

nav a{
	color: inherit;
	text-decoration: none;
}



.sidebar{
	width: 200px;
	height: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
}

.nav-wrapper{
	position: absolute;
	top: 225px;
	left: 50px;
	width: 150px;
	height: 300px;
	border-left: 5px solid;
}

.nav-progress{
	width: 5px;
	position: absolute;
	left: -5px;
	top: 0;
}


/*sidebars*/

/*work*/
body.work .nav-progress {background:#000; height: 17%; }
body.work .sidebar {background: #fff; }

body.work .nav-wrapper{ border-color: #ddd;}

body.work nav .activated {color:#000;}
body.work nav{ color:#666; }


/*about*/
body.about .nav-progress {background:#fff; height: 43%; }
body.about .sidebar {background: #272a2d; }

body.about .nav-wrapper{ border-color: rgba(255,255,255,0.3); }

body.about nav .activated {color:#fff;}
body.about nav{ color:rgba(255,255,255,0.6); }

/*hacks*/
body.hacks .nav-progress {background:#fff; height: 70%; }
body.hacks .sidebar {background: #3f8fd8; }

body.hacks .nav-wrapper{ border-color: rgba(255,255,255,0.3); }

body.hacks nav .activated {color:#fff;}
body.hacks nav{ color:rgba(255,255,255,0.6); }

/*concepts*/
body.concepts .nav-progress {background:#000; height: 100%; }
body.concepts .sidebar {background: #eee; }

body.concepts .nav-wrapper{ border-color: #ddd;}

body.concepts nav .activated {color:#000;}
body.concepts nav{ color:#666; }







/*animations */

.ani{
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
}

.work-item.un-entered{
	opacity: 0;
	transform: translate(0,-1000px);
	-ms-transform: translate(0,-1000px); /* IE 9 */
	-webkit-transform: translate(0,-1000px); /* Safari and Chrome */

}

/*work-item element animation*/


/*content-grid */

.content>.gridholder{
	font-size: 0;
}

.gridholder{
	width: 100%;
}

.grid{
	width: 25%;
	width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
	position: relative;
	display: inline-block;
}

.work-item{
	background:#eee;
	padding-top: 65%;
	margin: 0 15px 30px 15px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
	background-size: cover;
}



.right-column{
	width: 200px;
	float:right;
}

/*responsive*/


@media only screen and (max-width: 1440px) {

	.sidebar{	width: 150px;	}
	section.page .header{
		height: 175px;
		padding-left: 150px;
	}
	section.page .content{
		padding-left: 150px;
		padding-right: 150px;
		overflow: none;
	}
	.nav-wrapper{
		top: 175px;
		left: 25px;
	}	

}

@media only screen and (max-width: 1279px) {

	.grid{	
		width: 33%;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}

}

@media only screen and (max-width: 979px) {

	section.page .header{
		padding-right: 0;
	}
	section.page .content{
		padding-right: 0;
	}

}

@media only screen and (max-width: 768px) {

	.sidebar{	width: 100px;	}
	section.page .header{
		height: 100px;
		padding-left: 100px;
	}
	section.page .header .logo{ top: 30px; }	
	section.page .content{
		padding-left: 100px;
		overflow: none;
	}
	.nav-wrapper{
		top: 100px;
		left: 10px;
		width: 85px;
	}
	.grid{	
		width: 50%;
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}	

}


@media only screen and (max-width: 480px) {
	section.page .header{ height: 75px; }
	section.page .header .logo{ top: 20px; }
	.nav-wrapper{ top: 20px; }

}

@media only screen and (max-width: 420px) {
	.grid{	
		width: 100%;
	}	
}