*{
	padding: 0;
	margin: 0;
}

body, html{
	position: relative;
	height: 100%;
	font-family: 'Dosis', sans-serif;
}

li{
	list-style: none;
}


section.page{
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 800px;
	z-index: 98;
}

	section.page .header{
		height: 225px;
		margin-left: 200px;
	}

	section.page .header .logo{
		position: relative;
		top: 80px;
		left: 20px;
		display: block;
		width: 100px;
		height: 60px;
	}

	section.page .content{
		margin-left: 200px;
	}

#work{
	background:#fff;
}

#about .logo path{
	fill: #fff;
}

#about{
	background:#272a2d;
}

#hacks{
	background:#3f8fd8;
}

nav{
	height: 100%;
	position: relative;
}

nav ul{
	height: 100%;
	margin-left: 20px;
}

nav ul li{
	height: 25%;
	position: relative;	
}

nav ul li span {
	width: 100%;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	display: block;
}

nav a{
	color: inherit;
	text-decoration: none;
}



.sidebar{
	width: 200px;
	height: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
}

.nav-wrapper{
	position: absolute;
	top: 225px;
	left: 50px;
	width: 150px;
	height: 300px;
	border-left: 5px solid;
}

.nav-progress{
	width: 5px;
	position: absolute;
	left: -5px;
	top: 0;
}


/*sidebars*/

/*work*/
body.work .nav-progress {background:#000; height: 17%; }
body.work .sidebar {background: #fff; }

body.work .nav-wrapper{ border-color: #ddd;}

body.work nav .activated {color:#000;}
body.work nav{ color:#666; }


/*about*/
body.about .nav-progress {background:#fff; height: 43%; }
body.about .sidebar {background: #272a2d; }

body.about .nav-wrapper{ border-color: rgba(255,255,255,0.3); }

body.about nav .activated {color:#fff;}
body.about nav{ color:rgba(255,255,255,0.6); }

/*hacks*/
body.hacks .nav-progress {background:#fff; height: 70%; }
body.hacks .sidebar {background: #3f8fd8; }

body.hacks .nav-wrapper{ border-color: rgba(255,255,255,0.3); }

body.hacks nav .activated {color:#fff;}
body.hacks nav{ color:rgba(255,255,255,0.6); }

/*concepts*/
body.concepts .nav-progress {background:#000; height: 100%; }
body.concepts .sidebar {background: #eee; }

body.concepts .nav-wrapper{ border-color: #ddd;}

body.concepts nav .activated {color:#000;}
body.concepts nav{ color:#666; }







/*animations */

.ani{
	transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
}

/*works-grid */
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}